
.header {
    position: sticky;
    top: 0;
    width: 100%;
    /* box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1); */
    /* background-color: #ddddf8; */
    background-color: #f3f4ffe1;
    color: black;
    z-index: 1;
    backdrop-filter: blur(5px);
  }
  
  .header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    padding-right: 30px;
  }
  
  nav .logo a {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
  }
  nav .logo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 1px 1px 5px #000000;
    background: #000000;
  }
  
  nav .logo a span {
    color: #8739fa;
  }
  
  .header nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header nav .menu li{
    list-style: none;
  }
  
  .menu a {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    color: #514e4e;
    text-decoration: none;
  }
  
  .menu:hover a {
    opacity: 0.4;
    color: #454545;
  }
  
  .menu a:hover {
    opacity: 1;
    color: #000000;
  }
  
  .menu-icon {
    display: none;
  }
  
  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
  }
  
  @media only screen and (max-width: 950px) {
    .menu {
      flex-direction: column;
      background-color: #000000;
      align-items: center;
      position: absolute;
      color: #fff;
      top: 70px;
      padding-left: 0px;
      width: 82%;
      z-index: 1;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    
    .menu a {
        color: #fff;
        margin-left: 12px;
    }
    
    .menu li {
        color: #fff ;
      margin-bottom: 10px;
    }
  
    .menu-icon {
      display: block;
      color: #000000;
      font-size: 28px;
      cursor: pointer;
    }
  }
  