.socials{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials .box{
    width: 20%;
    height: 30%;
    background: rgba(0, 0, 0, 0.684);
    margin: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socials .box i{
    font-size: 50px;
    color: #02a50a;
    margin-bottom: 10px;
}

.socials .box p{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.socials .box h2{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.socials .box a{
    font-size: 20px;
    color: #6f6f6f;
    margin-bottom: 10px;
    border: 1px solid #797979;
    padding: 10px 20px;
    border-radius: 20px;
}

/* a hover */
.socials .whatsapp a:hover{
    background: #25d366;
    color: #fffefe;
    transition: 0.5s;
}

.socials .telegram a:hover{
    background: #0088cc;
    color: #fffefe;
    transition: 0.5s;
}

.socials .instagram a:hover{
    background: #e1306c;
    color: #fffefe;
    transition: 0.5s;
}

.socials .linkdin a:hover{
    background: #0e76a8;
    color: #fffefe;
    transition: 0.5s;
}




.socials .whatsapp i{
    color: #25d366;
}



.socials .telegram i{
    color: #0088cc;
}

.socials .instagram i{
    color: #e1306c;
}
.socials .linkdin i{
    color: #0e76a8;
}



.socials .box:hover{
    background: #fff;
    transition: 0.5s;
}

.socials .box:hover p{
    color: #000;
    transition: 0.5s;
}

.socials .box:hover h2{
    color: #000;
    transition: 0.5s;
}

.socials .box:hover a{
    /* color: #000; */
    transition: 0.5s;
}

